
@import './tailwind.css';

@import './_fontface.css';
@import './_variables.css';
@import './_global.css';

@import './_animations.css';

.wrapper {
	position: relative !important;
}

.container {
	margin: 0 auto !important;
	padding-left: 1.25rem !important;
	padding-right: 1.25rem !important;
	width: 100% !important;
	max-width: 1680px !important;
}

.container { padding-left: 0px !important; padding-right: 0px !important; }

.disable-scroll { overflow: hidden !important; }

.sticky-navbar { filter: drop-shadow(var(--shadow)); }

.content > section,
.sidebar > section { margin-bottom: 2rem !important; }

.animate--collapsible { transition: all var(--animation-speed) !important; }

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.page-link.active::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	height: 4px;
	background-color: var(--color-red);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}